p {
  font-family: Lato;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button {
  background: var(--bkg-color);
  color: var(--text-color);
  margin: 2px;
  padding: 3px 12px;
}
